@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

a,
a:visited {
  color:black;
  text-decoration: none;
}

body {
  margin: 0;
}

main {
  height: 100%;
  max-width: 100%;
}

footer {
  padding: 20px;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

.card {
  border: 1px solid black;
  box-shadow: 5px 5px 8px rgba(203, 203, 203, .7);
  border-radius: 5px;
  flex-basis: 400px;
  margin-bottom: 30px;
  text-align: left;
}
.card .card-content{
  padding:20px;
}
.full-width {
  flex-basis: 800px;
}

.red-text {
  color: red;
}

.green-text {
  color: lightgreen;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.player-card {
  background-color: rgb(247, 247, 247);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-image {
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 50%;
  overflow: hidden;

}

.profile-image img {
  max-width: 100%;
}

#faction-info-card {
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  flex-basis: 400px;
  margin-bottom: 30px;
  text-align: left;
}

#faction-description {
  font-size: .8rem;
}

#rank-text {
  text-align: right;
  font-size: .6rem;
}

#main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.member-row {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.247);
  position: relative;
  z-index:10;
  background-color:white;
  cursor: pointer;
}

.member-row p {
  z-index: 10;
}

.member-row .participation {
  font-size: .7rem;
}

.member-row .participation-bar {
  position: absolute;
  left: 0;
  background-color: lightgreen;
  border-radius:5px 0 0 5px;
  height: 100%;
  top: 0;
  z-index: 0;

}
.more-info-container{
  border:1px solid black;
  position:relative;
  top:-15px;
  z-index:1;
  width:95%;
  padding:10px;
  margin:auto;
  border-radius:0 0 5px 5px;
  background-color: #f1f1f1;
  animation-name: reveal;
  animation-duration: .2s;
  animation-iteration-count: 1;
}
.more-info-container h3{
  margin: 0;
}
.member-row .respect-p,
.more-info-container .average-p,
.member-armoury-news-container{
  font-size: .7rem;
}
.member-armoury-news-container{
  display:flex;
  justify-content: space-between;
}
.faction-participation {
  font: size 0.8rem;
}

@keyframes reveal {
  0%{height:0px}
  100%{height:120px}
}